@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}


section#p{
    background-color: aqua;
    height:650px ;
    width: 311px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(imagens/frame-iphone.png) no-repeat;
    transition: transform 0.3s ease-in-out;

}

img{
    width: 50px;
    display: grid;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.227);
    
    
}

a > img:hover{
    transform:scale(1.5)
    

}


iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}